.search-bar {
    max-width: 40rem;
}

.profile-card {
    cursor: pointer;
    width: 12rem;
}

.profile-card-img {
    border-radius: 50%;
    width: 100px;
}

.home-landing img {
    width: 25rem;
}