.edit-profile-img {
    width: 10rem;
    border-radius: 50%;

}

.edit-profile-link {
    cursor: pointer;
    color: #0d6efd;
}

.remove-pfp-link {
    cursor: pointer;
}

.cropper {
    position: relative;
    background: #33333300;
    height: 25rem;
    width: auto;
}

.cropper-sliders {
    flex-direction: column;
}

.croppper-sliders-container {
    width: 100%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.file-close {
    cursor: pointer;
}

.email-verified-label {
    border: 3px solid #198754;
    border-radius: 3px;
    color: white;
    background-color: #198754;
}

.email-not-verified-label {
    border: 3px solid #dc3545;
    border-radius: 3px;
    color: white;
    background-color: #dc3545;
    padding: 3px;
}

